/*-_-_-_-_-_-_-_-_-_-_POLICES-_-_-_-_-_-_-_-_-_-_*/
/*roman*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,300&display=swap");
/*post-it*/
@import "https://fonts.googleapis.com/css?family=Indie+Flower";
/*-_-_-_-_-_-_-_-_-_-_VARIABLES-_-_-_-_-_-_-_-_-_-_*/
:root {
  --black: #433d3c;
  --purple: #944e6c;
  --white: #e9c496;
  --green: #83a95c;
}
/*-_-_-_-_-_-_-_-_-_-_GLOBAL-_-_-_-_-_-_-_-_-_-_*/
/*remover input arrow's
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
h2 {
  color: white;
  font-size: 20px;
}
body {
  background-color: var(--black);
}
/*-_-_-_-_-_-_-_-_-_-_HEADER-_-_-_-_-_-_-_-_-_-_*/
header {
  background-color: var(--black);
  color: white;
}
/*-_-_-_-_-_-_-_-_-_-_ROMAN-_-_-_-_-_-_-_-_-_-_*/
#roman {
  background-color: var(--green);
  padding: 50px 0px;
}
#roman input {
  border: none;
}
#roman button {
  font-size: 15px;
  color: var(--black);
  background-color: white;
}
#roman span {
  font-family: "IBM Plex Mono", monospace;
  font-size: 40px;
  color: rgba(18, 54, 16, 0.91);
}
/*-_-_-_-_-_-_-_-_-_-_POST-IT-_-_-_-_-_-_-_-_-_-_*/
#post-it {
  background-color: #61d2dc;
  font-family: "Helvetica", "Arial", sans-serif;
  padding: 50px;
}
#post-it h2 {
  font-family: "Indie Flower", cursive;
}
#post-it li {
  background-color: #fff;
  font-family: "Indie Flower", cursive;
  color: var(--black);
  border: 2px solid var(--black);
  padding: 10px;
  word-wrap: break-word;
  cursor: pointer;
}
#post-it input {
  font-size: 14px;
  border: none;
  background-color: white;
  color: var(--black);
}
/*-_-_-_-_-_-_-_-_-_-_QUOTE-_-_-_-_-_-_-_-_-_-_*/
#quote {
  background-color: var(--purple);
  padding: 60px 0px;
}
#showQuote {
  border: 2px solid #643047;
  padding: 20px;
  color: white;
}
#quote button {
  border: none;
  color: var(--black);
}
/*-_-_-_-_-_-_-_-_-_-_ARRAY-_-_-_-_-_-_-_-_-_-_*/
#array {
  padding: 50px 0px;
  background-color: var(--green);
}
#array p {
  font-size: 20px;
  color: white;
}
#array p span {
  margin: 0px 10px;
}
#array button {
  border: none;
  color: var(--black);
}
